<%= render "layouts/flash_notices" %>

<h1><%= @current_user.name.capitalize %>'s List</h1>

<p> List of Items </p>
<ul>
  <% @products.each do |product|%>
    <li><%= link_to "#{product.name}".capitalize, user_added_product_path(product) %></li>
  <% end %>  
</br>
<%= link_to "Add Item", new_user_added_product_path %>
</ul>
