<h1>User Products</h1>

<p> List of items </p>
<ul>
  <% @products.each do |product|%>
    <li> <a href="/products/<%= product.id %>/edit"><%= product.name %> </a> </li>
    <!--<li> <%= product.expiration_date %> </li> -->
  <% end %> 
</ul>
  
