<p><%= @product.user.name.capitalize %>,</p>

<p>Here is your Perishably notification</p>

<p>Your <%= @product.name.capitalize %> will expire on date <%= @product.exp_date.strftime("%B %d, %Y") %></p>