// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div .login-intro{
  float:right;
  width:40%;
  border-left: 1px solid #a1a1a1;
  padding-left:20px;
  min-height: 225px;
}

div .login-form{
 width:50%;
  float:left;
}

div .panel-body form{
  margin:0;
}