// Place all the styles related to the user_added_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*-----------"X" to the to add recipients box------------*/
.remove{
  background-color:#000;
  color:#f00;
}
/*-------------------------------------------------------*/


div .panel{
  width:435px;
  margin:0 auto;
  border-radius:5px;
  background-color:#fff;
  border:1px solid #a1a1a1;
  padding:20px;
  overflow: auto;
}



/*----gitshoes----*/

